<h1>Welcome to Cincopa Multimedia Platform!</h1>
<h2>Quickstart</h2>
<p>
While editing your content, use the new <b>Cincopa Media</b> button at the bottom
of the editor window for inserting media.
A wizard will popup and will guide you step by step through 
the creation process and will even embed the gallery for you.
</p>
<p>
For more information - especially before using the advanced features or the pro account , <b>please</b>
visit our <a href="http://help.cincopa.com" target="_blank">http://help.cincopa.com</a>. 
<br />
You can invoke the support site at any time after clicking on the Cincopa Media button 
and clicking the <b>Help</b> button.
<br />
The support site also provides a collection of useful examples.
</p>
<p>Good Luck!</p>
