body {
	background-color: #FFFFFF;
}

.btn_normal {
	color: #050;
	font: bold 12px 'trebuchet ms', helvetica, sans-serif;
	background-color: #fed;
	border: 1px solid;
	width: 150px;
	padding: 0px 0px;
}

.tr_title {
	background-color: #BBBBBB;
	text-align: center;
	vertical-align: middle;
}